<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" href="../static/css/index.css">
		<script src="../static/js/jquery.js"></script>
	    <script src="../static/js/underscore.js"></script>
	    <script src="../static/js/backbone.js"></script>
	</head>

	<body>
		<div id="header-container">

		</div>
		<div id="main-container">
			<div class="recipe">
				<section class="recipe-header">
					<h2>Chicken N Waffles</h2>
					<a href="#">[+]</a>
				</section>
				<section class="recipe-body">
					<div class="ingredients">
						<ul>
							<li>Chicken</li>
							<li>Waffles</li>
							<li>Maple Syrup</li>
						</ul>
					</div>
					<div class="instructions">
						<span>
							Bread and fry the chicken.  Make waffles.  Serve together with maple syrup.
						</span>
					</div>
				</section>
				<section class="recipe-footer">
					<span>
						Recipe Creator: Rastii
					</span>
				</section>
			</div>
		</div>
		<div id="footer-container">

		</div>
	</body>
</html>