<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" href="../static/css/index.css">
		<script src="../static/js/jquery.js"></script>
	    <script src="../static/js/underscore.js"></script>
	    <script src="../static/js/recipes.js"></script>
	</head>

	<body>
		<div id="header-container">
			<h2>Shared Recipes</h2>
            <span>Welcome {{ user }}!</span>
            <br>
            <a href="/logout">Logout</a>
		</div>
		<div id="main-container">
            <div id="search-container">
                <div id="search-wrapper">
                    <input type="text" name="ingredient">
                    <button id="btn-search">Search</button>
                </div>
            </div>
		<div id="footer-container">

		</div>
	</body>
</html>
